@tailwind base;

* {
	@apply p-0 m-0 box-border;
	font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
}
h1 {
	@apply text-2xl font-semibold;
}

h2 {
	@apply text-xl;
}

/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;
